[submodule "extern/google-FILM"]
	path = extern/frame_interpolation
	url = https://gitee.com/liuan201128/frame-interpolation.git
[submodule "extern/GFPGAN"]
	path = extern/GFPGAN
	url = https://gitee.com/liuan201128/GFPGAN.git
[submodule "extern/frame_interpolation"]
	path = extern/frame_interpolation
	url = https://gitee.com/liuan201128/frame-interpolation.git
[submodule "wiki"]
	path = wiki
	url = https://gitee.com/liuan201128/comfy_mtb_wiki.git
